import { defineConfig } from 'vite';
import angular from '@analogjs/vite-plugin-angular';
import path from 'path';

export default defineConfig({
  plugins: [angular()],
  resolve: {
    alias: {
      'primeng/resources': path.resolve(__dirname, 'node_modules/primeng/resources'),
      'primeicons': path.resolve(__dirname, 'node_modules/primeicons') // Make sure this is set
    }
  }
});
