
  <div class="login_container">
    <p-toast class="custom-toast" position="top-right"></p-toast>
    <div class="login_image">
       
    </div>
    
    <div class="form">
        <img class="logo" src=" assets/logo.png" alt="logo">
        <form >
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Enter your email" [(ngModel)]="email">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your password" [(ngModel)]="password">
            <button type="submit" (click)="signIn()">Sign in</button>
        </form>
    </div>
            

    
  </div>
