
.login_container {
   
    position: absolute;
    font-family: poppins;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 75%;
    border: 1px solid black;   
    border-radius: 5px;
    
  }
.login_image{
    width: 50%;
    height: 100%;
    background-image: url("../../../assets/login_image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-right: 1px solid black;
    opacity: 0.8;
}
.form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;    
    align-items: center;
    gap: 90px;    
    padding: 2rem;
    box-sizing: border-box;
}
.logo{
    width: 40%;
    margin-bottom: 2rem;
}
.form label {
    align-self: flex-start;
    margin-bottom:2px;
    font-weight: 900;
    color: #333;
    opacity: 0.8;
}

.form input {
    width: 100%;
    padding: 0.7rem;
    margin-top: 0.4rem;
    margin-bottom: 1.4rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.form input::placeholder {
    color: #aaa;
    letter-spacing: 1.9px;
    font-weight: 500;
}
.form button {
    width: 100%;
    padding: 0.6rem;
    background-color: #3c80c9;
    color: white;
    font-size: 1rem;
    border: none;
    font-weight: 900;
    border-radius: 4px;
    margin-top: 1.5rem;
    cursor: pointer;    
    transition: background-color 0.3s ease;
    letter-spacing: 1.5px
}

.form button:hover {
    background-color: white;
    color: #3c80c9;
    border: 1px solid #3c80c9;
}


@media only screen and (max-width: 1232px) {
    .login_image{
        display: none;
    }
    .login_container{
        border: none;
        border: 0.5px solid rgb(39, 39, 117);
        width: 70%;
    
    }
    .form{
        width: 80%;
    }
    .form img{
        width: 50%;    
    }
    #form{
        width: 90%;
    }
}
@media only screen and (max-width: 795px) {
    .login_container{
        width: 90%;
    }
    .form h2{
        font-size: 1.1rem;
    }
    #form{
        width: 90%;
        padding-top: 5px;
    }
    #form input{
        width: 90%;
        box-sizing: border-box;
    }
    #form label{
        margin-left: 5.5%;
    }
    #form button{
        width: 90%;
    }
}